<div class=" d-flex justify-content-center ">
    <div class="col-lg-7 col-md-12">
        <div class="card" style="min-height: 550px; max-width: 300%x;">
            <div class="card-header card-header-text">
                <h4 class="card-title">Liste des banque du sang</h4>
                
            </div>
            <div class="w-100 p-3 card-content table-responsive ">
                <table class="table table-hover">
                    <thead class="text-danger">
                        <tr><th>Nom </th>
                        <th>Telephone</th>
                        <th>Adresse</th>
                        <th>Email</th>
                    </tr></thead>
                    <tbody *ngFor="let users of listBanque ">
                        <tr>
                            <td>{{users.nom}}</td>
                            <td>{{users.telephone}}</td>
                            <td>{{users.adresse}}</td>
                            <td>{{users.email}}</td>
                           
                        </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  
   
</div>