
	<!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-box">
                        <div class="card-head">
                            
                            
                        </div>
                        <div class="card-body ">
                           
                            <div class="table-scrollable">
                                <header style="text-align: center;"> Liste des demandes</header>
                            <table class="table table-hover table-checkable order-column full-width" id="example4">
                                <thead class="text-danger">
                                    <tr><th>Date</th>
                                    <th>Poche</th>
                                    <th>Groupe Sanguin</th>
                                    <th>Demandeur</th>
                                   
                                </tr></thead>
                                <tbody *ngFor="let users of listDemande ">
                                    <tr>
                                        <td>{{users.date}}</td>
                                        <td>{{users.nbrepoche}}</td>
                                        <td>{{users.groupeSanguin.type}}</td>
                                        <td>{{users.utilisateur.nomComplet}}</td>
                                        
                                    </tr>
                                  
                                </tbody>
                                  
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- end page content -->
        </div>
    </div>