

	<!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-box">
                        <div class="card-head">
                            
                            
                        </div>
                        <div class="card-body ">
                            <div class="row p-b-20">
                              
                               
                                
                            </div>
                            <div class="table-scrollable">
                                <header style="text-align: center;"> Liste des utilisateurs</header>
                            <table class="table table-hover table-checkable order-column full-width" id="example4">
                                <thead class="text-danger">
                                    <tr><th>Nom et Prenom</th>
                                    <th>Telephone</th>
                                    <th>Profil</th>
                                    <!-- <th>Groupe Sanguin</th> -->
                                    <th>Groupe Sanguin</th>
                                </tr></thead>
                                <tbody>
                                    <tr *ngFor="let users of listUsers ">
                                        <td>{{users.nomComplet}}</td>
                                        <td>{{users.telephone}}</td>
                                        <td>{{users.profils}}</td>
                                        <!-- <td>{{users?.groupeSanguin.type}}</td> -->
                                        <td>{{users.groupeSanguin.type}}</td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- end page content -->
        </div>
    </div>