<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">

            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Nouvelle Banque</header>
                       
                    </div>
                    <div class="card-body" id="bar-parent2">
                        <form  id="form_sample_2" class="form-horizontal" novalidate="novalidate" [formGroup]=" formgroup" (ngSubmit)="ajouterB(formgroup)">
                 <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nom">Nom de la Banque</label>
                                        <input type="text" class="form-control" id="tel" formControlName="nom"    [ngClass]="{ 'is-invalid': submitted && f.nom.errors }"/>
                                        <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                                            <div *ngIf="f.nom.errors.required">le champ nom banque est obligatoire</div>
                                        </div>
                                    </div>
                                 </div> 
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="telephone">Telephone</label>
                                        <input type="number" class="form-control" formControlName="telephone" [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }"/>
                                        <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                                            <div *ngIf="f.telephone.errors.required">Le champ telephone obligatoire</div>
                                        </div>
                                    </div>
                                </div> 
                       
                 </div>
             <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="adresse">Adresse</label>
                    <input type="text" class="form-control" formControlName="adresse" [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }"/>
                    <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                        <div *ngIf="f.adresse.errors.required">Le champ adresse est obligatoire</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="adresse">Email</label>
                    <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Le champ email est obligatoire</div>
                    </div>
                </div>

                     
                 </div>
                 
        <div class="form-group">
            <div class="offset-md-3 col-md-9" style="padding: 30px;">
        
          
                 <!-- <button type="submit"  class="btn btn-success mr-5" >Valider</button> -->
                 <button type="submit" class="btn btn-success ms-5">Enregistrer</button>
                </div>
                </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- end page content -->